rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test/{doc} {
      allow read: if request.auth.token.get('pgs', []).hasAny(['test']);
    }
  }
}
